body{
    background-color: rgb(58, 30, 110);
    padding: 0 10px;
}
.h3{
    display: flex;
    gap: 20px;
    justify-content: center;
}
h3{
    color: white;
    margin: 5px 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 245, 210);
    padding: 2px;
    border-radius: 10px;
    cursor: url('images/hammer-game.png') 10 10, auto;
}
.container-rotate{
    cursor: url('images/hammer-game-rotate.png') 10 10, auto;
}

#start-button{
    width: 150px;
    height: 35px;
    margin: 5px;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(244, 245, 210);
    background-color: rgb(58, 30, 110);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}
#grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(219, 245, 247);
}

.mole{
    background-color: rgb(96, 120, 229);
    background-image: url('images/mole.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:90px 140px;    
}